.image-part img {
    border-radius: 20px;
    height: 100%;
 
}

.img-content {
    margin-left: 10px;
}

.image-part{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.image-work img {
    height: 100px;
}

.image-work{
    margin-top: 20px;
    margin-bottom: 20px;
}