.bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.4)
      ),
      url("https://i.ibb.co/VHbF7NN/Yellow-Bright-Business-Idea-Tutorial-Youtube-Thumbnail.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    padding-top: 15rem;
    padding-left: 10rem;
  }


/* 
https://i.ibb.co/bNpLBLr/dance-facebook-cover.jpg */

  .bg h2{
    font-size: 36px;
    font-weight: 700;
  }
  .bg p{
    font-size: 18px;
    font-weight: 400;
  }
  