.imgError{
    width: 60%;
    border: 40px solid rgb(34, 234, 20);
    margin-top: 15px;
    border-radius: 15px;
}

/* .border{
    
    width:80%;
    border-radius: 10px;
    margin: 70px auto;
} */