@tailwind base;
@tailwind components;
@tailwind utilities;



/* Dark Theme */
.dark-theme {
  background-color: #1a202c; /* Dark blue background */
  color: #d8dee9; /* Light gray text */
}

/* White Theme */
.white-theme {
  background-color: #d8dee9; /* Light gray background */
  color: #1a202c; /* Dark blue text */
}
